# Игнорируем токены и секретные файлы
config.py

# Игнорируем базу данных
*.db
*.sqlite

# Игнорируем файлы виртуальных окружений
venv/
.env

# Игнорируем системные файлы и кэш
__pycache__/
*.pyc
*.pyo
*.log

# Игнорируем настройки IDE
.idea/
.vscode/
